<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <form method="post" action="/login">
        <input type="email" name="email" placeholder="Email" />
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>